<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/jaODtWd.png">
    <link href="/css/signin.css" rel="stylesheet" type="text/css" />
  <title>Sign Up</title>
  <script src="/js/script.js"></script>

</head>
<body>
  <header id = "home">
      <a href="/"><img src="https://i.imgur.com/sT16qlE.png" id = "logo"></a>
     
    
    <nav>          
      <ul>
        <li>  <form class="searchBar" action="/search" method = "GET">
          <input type="text" placeholder="Instructor's name" name="search" id = "searchBar">
        </form></li>
        <li><a class = "homeButton"  href="/">Home</a></li>

        <li id = "dissapearFirst"><a  href="/#about">About</a></li>
                <li id = "dissapearFirst"><a  href="/contact">Contact</a></li>
         <li>     <button onClick="redirect('/signin')"/>Sign In</button>
     </li>

   </li>
      </ul>
    </nav>
  </header>



  <section id = "contact">

    <h1>Sign Up</h1>
   
    <form method = "POST" action = "/signup">      
  <input required  name="name" type="text" class="feedback-input" placeholder="Name" />
  <input required  name="email" type="email" class="feedback-input" placeholder="Email" />
  <%if(emailTaken){%>
    <h3>An account with that email address already exists</h3>
    <style>h3{text-align: center; color:rgb(255, 89, 89);
padding-bottom: 10px;}</style>
       <%}%>
  <input required  name="password" type="password" class="feedback-input" placeholder="Password" />
        <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" />
        <%if(!passwordsEqual){%>
          <h3>Your passwords must be equal</h3>
          <style>h3{text-align: center; color:rgb(255, 89, 89);
      padding-bottom: 20px;}</style>
             <%}%>
  <input type="submit" value="Create"/>
</form>
    <h2>Already registered? <a href="/signin">Log in here</a></h2>


</section>
<footer>
 <div>      
   <span id = "footerHeader">Code</span>
   <br>
   <br>    
     <span>    
Find all the source code for the project on <a href="https://github.com/Joahie/ratabale" target="_blank">Github</a></a>.
     </span>
 </div>
<div>
     <span id = "footerHeader">Website</span>
   <br>
   <br>
     <span><a id = "noUnderline"href="/">Home</a></span>
 <br><br>
<span><a id = "noUnderline"href="/#about">About</a></span>
<br><br>
     <span><a id = "noUnderline"href="/contact">Contact</a></span>
 </div>
  </footer>
</body>
</html>
